---
import "@fontsource/ubuntu";
import "@fontsource/press-start-2p";
import "../styles.scss";
import Header from "../component/Header.astro";
import Content from "../component/Content.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="images/cat.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ignorado.com</title>
		<meta property="og:title" content="El Ignorado" />
		<meta property="og:site_name" content="El Ignorado" />
		<meta property="og:url" content="https://elignorado.com" />
		<meta
			property="og:description"
			content="Mientras el mundo sigue luchando por mantener conversaciones, tú has optado por el camino menos transitado: el del absoluto silencio."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
	</head>
	<body>
		<Header />
		<Content />
	</body>
</html>
