---
import "@fontsource/ubuntu";
import "@fontsource/press-start-2p";
import "../styles.scss";
import Header from "../component/Header.astro";
import Content from "../component/Content.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ignorado.com</title>
	</head>
	<body>
		<Header />
		<Content />
	</body>
</html>
