---
import "@fontsource/ubuntu";
import "@fontsource/press-start-2p";
import "../styles.scss";
import Header from "../component/Header.astro";
import Content from "../component/Content.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="images/cat.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>elignorado.com</title>
    <meta
      name="description"
      content="Mientras el mundo sigue luchando por mantener conversaciones, tú has optado por el camino menos transitado: el del absoluto silencio."
    />
    <meta
      name="keywords"
      content="elignorado, ignorado, silencio, conversación, el ignorado, el silencio, silencio de conversación, silencio de conversaciones, conversaciones, conversación, silencio en conversaciones, silencio en conversación, silencios en conversaciones, silencios en conversación, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas, conversaciones silenciadas"
    />
    <meta property="og:title" content="El Ignorado" />
    <meta property="og:site_name" content="El Ignorado" />
    <meta property="og:url" content="https://elignorado.com" /></head
  >s
  <meta
    property="og:description"
    content="Mientras el mundo sigue luchando por mantener conversaciones, tú has optado por el camino menos transitado: el del absoluto silencio."
  />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <script
    defer
    src="https://analytics.wempli.com/script.js"
    data-website-id="352286ee-825f-4ceb-8e84-86c7fd770578"></script>

  <body>
    <Header />
    <Content />
  </body>
</html>
